 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     min-height: 100vh;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center; 
     background-color: #312c2c;
 }

 #calculator {
     background-color: #d3d1d1;
     width: 640px;
     height: 950px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: start;
     padding-top: 32px;
     border-radius: 32px;
     border: 3.4px solid #7b6248;
 }

 #display {
     box-shadow: 1px 1px 2px 2px #7b6248;
     color: #7b6248;
     font-family: sans-serif;
     font-size: 27px;
     background-color: #dddddd;
     width: 580px;
     height: 160px;
     padding: 42px;
     border-radius: 24px;
     display: flex;
     align-items: center;
     justify-content: end;
 }

 #display #screen {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    font: normal 40pt arial;
 }

 #buttons {
     background-color: #dddddd;
     width: 580px;
     height: 690px;
     padding: 12px 24px;
     border-radius: 24px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
     border: 0.00000000000000001px solid #7b6248;
 }

 #buttons div {
     width: 100%;
     display: flex;
     justify-content: space-around;
 }

 #buttons button {
     font-size: 48px;
     font-family: Arial, Helvetica, sans-serif;
     width: 108px;
     height: 108px;
     border: 6px solid #645d5d;
     border-radius: 50%;
     box-shadow: 2px 3px #7b6248;
     
 }

 #buttons button:hover {
     background-color: #c19d76;
     transition: 0.3s;
     cursor: pointer;
 }